
.container {

    width: 100%;
    margin:1rem 2rem 1rem 1rem

}
html{
    font-family: Arial,Verdana,sans-serif;

}

header{

    background-color: yellow;
    margin-left: 18rem;

}

body{
    background-color: yellow;

}

#logo {
    height:5rem ;
    width: 5rem;
    display: flex;
    justify-content: flex-start;
}


nav{
    background-color: darkgoldenrod;
    padding-top:0.5rem ;
    padding-bottom:0.5rem ;
    display: flex;
    justify-content: flex-end;


}

img{
    margin-left: 15rem;
}

p{
    font-size: 1.5rem;
    color: black;
    font-family:sans-serif ;
}

main {

    background-color:yellow;

}
ol{

    padding: 0;

}


footer{

    background-color: yellowgreen;
}

a{
    color: black;

}