html{
    font-family: Arial,Verdana,sans-serif;

}

header{

    background-color: yellow;

}



p{
    font-size: 1.5rem;
    color: black;
    font-family:sans-serif ;
}
nav{
    background-color: darkgoldenrod;
    margin: auto;

}

main {

    background-color:yellow;

}

footer{

    background-color: yellowgreen;
}

a{
    color: black;

}