html{
    font-family: Arial,Verdana,sans-serif;

}

article img{

    width:10rem ;
    height:10rem ;

}
#logo {
    height:5rem ;
    width: 5rem;
    margin-right: 60rem ;

}

.Container {
    background-color: yellow;


    width: auto;
    margin:auto;

}

div{
    display: flex;

    margin: auto;
}

.box {
    flex: 1;
    display:inline-block;
    margin-right: 2rem;
   margin-left:2rem ;
}



nav{
    background-color: darkgoldenrod;
    padding-top:0.1rem ;
    padding-bottom:0.1rem ;
    display: flex;
    justify-content: flex-end;



}


article{

    width:5rem;
    height: 10rem;
    display: flex;
    padding-right: 5rem;
    border: 2px darkgoldenrod;
    background-color: darkgoldenrod;


}
#Alpha{
    height: 50vH;
    width: 100vW;
}
#FrontArticle {



    display:inline-block;
    margin: 10px auto;

}


#FrontArticle img{

    width: 100%!important;

}
article p {
    font-size: 1rem;
    justify-content: right;
    width: 10rem;
}
p{


    font-size: 3rem;
    color: black;
    font-family:sans-serif ;
}
#Beta{


}


footer{

    background-color: yellowgreen;
}




a{
    color: black;

}